<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FASTCGITEST" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\RRHH.api\venv\Scripts\python.exe|C:\inetpub\wwwroot\RRHH.api\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
